*{
  margin: 0px;
  padding: 0px;
}

footer{
  background-color: rgb(0, 81, 128);
  height: 100%;
  position: relative;
  color: whitesmoke;
  width: 100%;
  display: inline-block;
}
.footer-description span{
  display: inline-block;
  width: 100%;
  font-size: 15px;
  line-height: 30px;
  padding-top: 20px;
  text-align: center;
}

.footer-container{
  display: table;
  width: 100%;
  border-collapse:separate;
  /* -webkit-border-horizontal-spacing: 200px;
  -webkit-border-vertical-spacing: 30px; */
}

.footer-info-cell{
  display: table-cell;
  width:50%;
  /* text-align: center; */
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 300px;

}

.body-container{
  /* display: table; */
  height: 100vh;
  width: 100vw;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.body-container-left{
  /* display:table-cell; */
  float: left;
  width: 60vw;
  height: 100%;
  padding: 0px;
  background-color: #81a3a7;
}

.homepage-left-content{
  padding-left: 8vw;
  padding-top: 30vh;
}

.body-container-right{
  /* display: table-cell; */
  float: left;
  width: 40vw;
  height: 100%;
  background-color: #c3d3da;
  padding: 0px 0px 0px 0px;
  margin: 0px;
  border: 0px;
}

.homepage-title{
  font-size: 50px;
  font-weight: bold;
  color: #f1f3f2;
  padding-bottom: 10px;
}

.homepage-desc{
  font-size: 18px;
  color: #585a56;
  padding-bottom: 10px;
}

.homepage-action{
  position: relative;
  padding-top: 20px;
  padding-bottom: 10vh;
  font-size: 30px;
  color: #272424;
}

.homepage-action-button{
  border: #272424 4px;
  border-style: solid;
  border-radius: 0px 10px 10px 10px;
  border-width: 2px;
  cursor: pointer;
  padding: 8px 14px;
}

.homepage-action-button:hover{
  position: relative;
  border: #272424 4px;
  border-style: solid;
  border-radius: 0px 10px 10px 10px;
  border-width: 2px;
  padding: 8px 20px;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  transition-property: all;
}
.homepage-action-button:hover span{
  position: relative;
  color: white;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  transition-property: all;
  content: '\00bb';
  /* right: -5px; */
}

.homepage-action-button:hover span::before{
  content: '\00bb';
  padding-right: 5px;
  /* color:#585A56; */
}

.three-row-partition{
  display: block;
  height: 33.34%;
  width: 100%;
}
.three-row-partition-middle{
  display: block;
  height: 33.34%;
  width: 100%;
}

.three-col-partition{
  float: left;
  width: 33.33%;
  height: 100%;
  padding: 0px;
}

.three-col-partition-middle{
  float: left;
  width: 33.34%;
  height: 100%;
}

.homepage-image{
  opacity: 0.5;
  filter: alpha(opacity=50);
  overflow: hidden;
}

.homepage-image:hover{
  opacity: 1.0;
  filter: alpha(opacity=100);
}

img{
  /* width: 100%; */
  height: 100%;
}


.homepage-right-center-content{
  display: block;
  text-align: bottom;
  color: #f1f3f2;
  font-size: 2vw;
  padding: 30% 10%;
  /* line-height: 45px; */
  /* padding-top: 30px; */
  transform: scale(1,1.8);
  /* font-stretch: extra-condensed; */
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  transition-property: all;
}

.homepage-right-center-content:hover{
  color: #307179;
  /* font-stretch: extra-condensed; */
  text-align: right;
  transition-duration: 3s;
  transition-timing-function: ease-out;
  transition-property: all;
}

.homepage-right-center:hover{
  background-color: #f1f3f2;
  transition-duration: 2s;
  transition-timing-function: ease-out;
  transition-property: all;
}