<!DOCTYPE html>
<html>

<head>
    <link href="../css/main.css" rel="styleSheet" type="text/css">
</head>

<body>
    <div class="body-container">
        <div class="body-container-left">
            <div class="homepage-title">
                <span>
                    P.C. Hao's<br>Monologue Place
                </span>
            </div>
            <div class="homepage-desc">
                <span>
                    var content = ["intorduction", "profile", "researches", "experiences", "anythingULikeToKnow"]
                </span>
            </div>
            <div class="homepage-action">
                <a class="homepage-action-button">
                    <span>See More</span>
                </a>
            </div>


        </div>
        <div class="body-container-right">

        </div>
    </div>

</body>

<script>


</script>

</html>