<!DOCTYPE html>
<html>

<head>
    <link href="../css/main.css" rel="styleSheet" type="text/css">
</head>

<body>
    <div class="body-container">
        <div class="body-container-left">
            <div class="homepage-left-content">
                <div class="homepage-title">
                    <span>
                        P.C. Hao's<br>Monologue Place
                    </span>
                </div>
                <div class="homepage-desc">
                    <span>
                        var content = ["intro", "profile", "researches", "experiences", "whatULike2Know"]
                    </span>
                </div>
                <div class="homepage-action">
                    <a class="homepage-action-button">
                        <span>See More</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="body-container-right">
            <div class="three-row-partition">
                <div class="three-col-partition homepage-image">
                    <img src="../dam/me.jpg">
                </div>
                <div class="three-col-partition-middle homepage-image">
                    <img src="../dam/me2.jpg">
                </div>
                <div class="three-col-partition homepage-image">
                    <img src="../dam/me3.jpg">
                </div>
            </div>
            <div class="three-row-partition-middle">
                <div class="three-col-partition homepage-image">
                    <img src="../dam/me4.jpg">
                </div>
                <div class="three-col-partition-middle homepage-right-center">
                    <span class="homepage-right-center-content">
                        Get to<br>
                        Know me<br>
                        Better
                    </span>
                </div>
                <div class="three-col-partition homepage-image">
                    <img src="../dam/me5.jpg">
                </div>
            </div>
            <div class="three-row-partition">
                <div class="three-col-partition homepage-image">
                    <img src="../dam/me6.jpg">
                </div>
                <div class="three-col-partition-middle homepage-image">
                    <img src="../dam/me7.jpg">
                </div>
                <div class="three-col-partition homepage-image">
                    <img src="../dam/me8.jpg">
                </div>
            </div>

        </div>
    </div>

</body>

<script>


</script>

</html>