<!DOCTYPE html>
<html>

<head>
    <style>

    </style>
    <link href="../css/main.css" rel="styleSheet" type="text/css">
</head>

<body>

    <h1>This is a Heading</h1>
    <div class="time-line">
        <a class="time-period-button"><span>高中</span></a>
        <a class="time-period-button"><span>大學</span></a>
        <a class="time-period-button"><span>研究所</span></a>
        <a class="time-period-button"><span>IBM Taiwan</span></a>
    </div>

</body>
<footer>
    <div class="footer-description">
        <span>This is a footer, and this page is made by HTML5/JavaScript/CSS3.</span>
    </div>
    <div class="footer-container">
        <div class="footer-info-cell">
            <p>info1</p>
            <p>info2</p>
            <p>info3</p>
        </div>
        <div class="footer-info-cell">
            <p>Profile</p>
            <div>
                <a href="https://www.linkedin.com/in/po-chien-hao-621150160/">LinkedIn Page</a>
            </div>
            <div>
                <a href="https://www.facebook.com/profile.php?id=100001518861042">Facebook Page</a>
            </div>
        </div>
    </div>

</footer>

<script>


</script>

</html>